.btnshow {
    background-color: rgb(13, 96, 205);
    color: #ffffff;
    border-radius: 5px;
    height: 50px;
    width: 100px;
}

.time-hour {
    display: flex;
}

.time-minutes {
    display: flex;
}